<div class="text-center" style="padding:50px 0">
	<div class="logo">forgot password</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form [formGroup]='forgotPasswordForm' (ngSubmit)="forgotPasswordForm.valid && forgotPassword()">
			<div class="etc-login-form">
				<p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
			</div>
			<div>
                <app-text-input [formControl]='forgotPasswordForm.controls["email"]' 
                        [label]='"Email"'></app-text-input>
				<div *ngIf="notificationsSent" class="etc-login-form">
					<p>Instructions on how to reset your password sent over email address.</p>
				</div>	
                <button class="btn btn-success my-2 my-sm-0" type="submit">Get Instructions on Email</button>
			</div>
			<div class="etc-login-form">
				<!-- <p>already have an account? <a href="#">login here</a></p> -->
				<p >new user? <a href="#">Register for new account</a></p>
			</div>

		</form>
	</div>
	<!-- end:Main Form -->
</div>
